* {
  outline: 1px red solid;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}
.section-one {
  background-color: rgb(0, 0, 53);
  color: aliceblue;
  display: flex;
  flex-direction: column;

}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 280px;
}

.logo, .links, .left, .right {
  display: flex;
  padding: 10px;
  margin: 30px;
  gap: 20px;
  flex-basis: auto;
}

.logo {
  font-size: 30px;
  font-weight: bold;
}

.links {
  font-size: 18px;
  cursor: pointer;
}

.mid {
  display: flex;
  align-items: stretch;
  justify-content: center;
}

.left, .right {
  display: flex;
  height: 270px;
  width: 423.812px;
  flex-wrap: wrap;
}

.hero {
  font-size: 48px;
  font-weight: 900;
  color: #F9FAF8;
}

.hero-second {
  font-size: 24px;
  color: #F9FAF8;
}

.sign {
  background-color: #3882F6;
  color: white;
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
  width: 200px;
  border-radius: 12px;
  border: 0px;
  cursor: pointer;
}

image {
  max-width:100%
}


ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: aliceblue;
}