* {
  margin: 0;
  padding: 0;
  border: 1px solid black;
  box-sizing: border-box;
}

html, body {
  border: 0px;
}

#container {
  display: flex;
  flex-direction: column;
  height: 400px;
  width: 400px;
  margin: auto;
}

#display {
  flex: 1;
  background-color: grey;
  text-align: right;
  font-size: 55px;
  font-weight: bold;
}

#row {
  display: flex;
  flex: 1;
  align-items: stretch;
}

.button {
  flex: 1;
  background-color: rgb(83, 140, 187);
}

[id*="c4"] {
  background-color: rgb(20, 122, 109);
}

#buttonr1c3 {
  background-color: rgb(20, 122, 109);
}

#buttonr1c1, #buttonr1c2 {
  background-color: rgb(156, 44, 25);
}